fastapi
uvicorn
pydantic
pydantic-settings
openai
httpx
python-dotenv
sqlmodel 
aiosqlite
asyncpg
yfinance

streamlit 
plotly 
requests

pandas
pandas-ta

pytest
pytest-asyncio
pytest-cov
httpx
pytest-mock
faker
xlsxwriter

seaborn
matplotlib
scipy
statsmodels

scikit-learn
arch

ccxt
apscheduler